h1{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workspace{
    height: 50%;
    width: 50%;
    margin: 100px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#gray{
    background-color: gray;
}
#blue{
    background-color: blue;
}
span{
    display: block;
    
}
.button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
   

}
h2{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
